@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

body {
  background: #fbdd74;
  color: #294910;
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* smoothing for other browsers */
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

h1 {
  font-size: 10vw; /* title will always be 10% of browsers width*/
  margin: 0 20px;
  line-height: 1.4;
}

h2 {
  bottom: 0;
  position: fixed;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 20px 20px;
  font-weight: normal;
}

figure {
  background: white;
  margin: 0;
  position: relative;
  width: 50vw;
}

figcaption {
  font-size: 36px;
  font-weight: normal;
  position: fixed;
  text-align: center;
  z-index: 1;
  bottom: 0;
  color: white;
  margin: 0 auto; /* remember - only works if element has a specified width */
  width: 50%;
  padding: 20px 0;
}

img {
  height: 100vh;
  object-fit: cover;
  position: fixed;
  width: 50%;
  opacity: 0;
}

.display {
  opacity: 1;
}
.hide {
  opacity: 0;
}

aside {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #E8E8E8;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.loading-bar {
  display: grid;
  row-gap: 12px;
}
progress {
  border: 1px solid #294910;
  height: 20px;
  width: 400px;
}
progress[value]::-webkit-progress-bar {
  background-color: #E8E8E8;
}
progress[value]::-webkit-progress-value {
  background-color: #294910;
}